body{
    background-color:#589ED9;
    font-family: 'Open Sans', sans-serif;
}
#container{
    width:300px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}
#header h1{
    font-size: 30px;
    color:white;
    margin-top: 10px;
}
#header .logo .fa-weibo{
    color: white;
    font-size: 70px;
}
#loginform .containerfields{
 background-color: white;
 border-radius: 10px;   
}
#loginform .containerfields input{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    width: 100%; 
    margin: 0px; 
    padding: 0px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-indent: 20px;
    border-radius: 10px;  
    
   }
   #loginform .containerfields input[type="password"]{
     border-top: 1px solid #ccc;
     -webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
   }
   #loginform input[type="submit"]{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    display: block;
    border:none;
    background-color: #2186DE;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 10px;
    padding:14px 0px;
    font-weight: bold;
   }
   #loginform input[type="submit"]:hover{
       background-color: #2186DE;
       cursor: pointer;
       }
   #footer p{
       color: white;
       font-size: 15px;
   }
   #footer a{
       color: white;
       font-weight: bold;
       text-decoration: none;
   }    